/* 主体结构的样式表 */

/*容器*/
#container  
{
    width:100%; 
    height:100%;
    padding:0; 
    margin:0 auto;
    display:block; 
} 
/*树结构div*/
#leftDiv 
{
    width:49%; 
    height:auto;
    float:left; 
    text-align:left;  
    display:block; 
    border-right-color:Teal;
    border-right-style:dotted;
    border-right-width:thin;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 20px;
}
/*显示内容div*/
#rightDiv
{
    width:49%;
    height:100%;
    float:right;
    margin-top: 0px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 20px;
}

.ver
{
   display:none;
   width:99%;
   color:red;
}

fieldset form 
{
    font-size: 13px;
    color:red;
}

.prompt 
{
    width:99%;
    height:300px;
    z-index:999;
    border-color:Teal;
    border-style:solid;
    border-width:thin;
    border-radius:4px; 
    padding:0px 0px 0px 0px;
    background-color:#FFFFCC;
    font-size:12px;
    font-family:Tahoma;
    color:navy;
    margin:0px;
    border:1px solid lightgrey;
    display:none;
    overflow:auto;
}

.thead
{
	background-color:#0058a3;
	font-size:14px;
	height:30px;
}

.tbody1
{
	background-color:lightgreen;
}


.tbody2
{
	background-color:#eaf5ff;
}

input
{
	color:blue;
	font-size:14px;
	margin:0px 10px 0px 10px;

}

table
{
	width:100%;
	font-size:12px;
	margin:0px;
	padding:0px;
	border:1;
	border-color:Teal;
    border-style:solid;
    border-width:thin;
	
}

p
{
	margin:1px;
	padding:1px;
	text-align:center;
}

.title
{
	margin:1px;
	padding:1px;
	font-size:30px;
	text-align:center;
	color:blue;
	align:center;
}	
